<div class="well">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="glyphicon glyphicon-shopping-cart"></i>                       
            {% if articles == 0%}
                    Aucun article dans votre panier
            {% elseif articles == 1 %}
                    un article dans votre panier 
            {% else %}
                   {{articles}} articles dans votre panier
             {% endif %}
            <b class="glyphicon glyphicon-chevron-down"></b>
        </a>
        <div class="dropdown-menu well" role="menu" aria-labelledby="dLabel">
            <strong>{{ articles }} articles</strong>
            {% if produits is defined %}
             {% for produit in produits %}
                <p>{{produit.nom}} x {% if panier|length != 0 %}{{ panier[produit.id] }} {% endif %}<span class="pull-right"> {{produit.prix}} €</span></p>
                <!--<p>Item x 1 <span class="pull-right">18,09 Euros</span></p>-->        
            {% endfor %}
            {% endif %}
            <a href="{{ path('panier') }}" class="btn btn-primary">
                Consulter votre panier
            </a>
        </div>
    </div>
</div>

