<div class="col-lg-3">
  
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{path('adminPages_index') }}">Catégories produits</a>
            </li>
            <li>
                <a href="{{path('adminPages_index') }}">Gérer les clients</a>
            </li>
            <li>
                <a href="{{path('adminPages_index') }}">Gérer les commandes</a>
            </li>
            <li>
                <a href="{{path('adminPages_index') }}">Gérer les pages</a>
            </li> 
            <li>
                <a href="{{path('produits') }}" style="color:red;">Quitter l'administration</a>
            </li>
        </ul>
    </div>
     
</div>